TUMBLR_CONSUMER_KEY=<TUMBLR_TEST_KEY>
TUMBLR_CONSUMER_SECRET=<TUMBLR_TEST_SECRET>
SECRET_KEY=<RANDOM_SECRET_STRING>
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0
DEBUG=1
USE_POSTGRES=1
POSTGRES_DB=tumblrstats
POSTGRES_PASSWORD=anyrandompassword
POSTGRES_USER=postgresuser
POSTGRES_HOST=database